body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
	max-width: 1200px;
}

h1 {
	font-weight: normal;
}

#container {
	margin: auto;
	text-align: center;
}

#button {
	background-color: #9b59b6;
	color: white;
	padding: 20px;
	border-radius: 100px;
  -moz-box-shadow:    3px 3px 1px 1px #ccc;
  -webkit-box-shadow: 3px 3px 1px 1px #ccc;
  box-shadow:         3px 3px 1px 1px #ccc;
  border: 0px;
  text-align: center;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
}

#button:hover {
	background-color: #8e44ad;
}

#circle {
	background-color: #f1c40f;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	list-style: none;
}